.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.receipt_details_form {
  background-color: #e3e3e3;
  margin: 0 auto;
  text-align: left;
  padding: 1rem 3rem;
  line-height: 35px;
}
table input,select{
  height: 2.4rem;
  padding: 8px;
  background: transparent;
  border: 1px solid #707070;
  border-radius: 4px;
}
table tr td:nth-child(1) {
  width: 35%;
}
table{
  line-height: 3rem;
}
table select{
  padding: 4px;
}
.form_btn{
    line-height: 1.5rem;
    padding: 0.8rem;
    border-radius: 8px;
}
.form_btn p{
  margin: 0px;
}
.cancel_btn{
  border: 1px solid red;
  color: red;
}
.submit_btn{
  border: 1px solid green;
  color: green;
}
.cancel_btn:hover{
  background-color: red;
  color: white;
}
.submit_btn:hover{
  background-color: green;
  color: white;
}
.required_mark{
  color: red;
}